# Compiler files (contracts)
contracts/cache/
contracts/out/
contracts/target/

# Ignores development broadcast logs
!/contracts/broadcast
/contracts/broadcast/*/31337/
/contracts/broadcast/**/dry-run/

# Dotenv files
.env
contracts/.env

# Dependencies
node_modules/

# Build artifacts
*.rdb
.DS_Store

# Development tools
.aider.tags.cache.v3
.aider.chat.history.md
.aider.input.history
summary.txt
notes
notes.md
